default {{ (buildiso_menu | list | first).label }}
{% for entry in buildiso_menu %}
{%   if entry.label is defined %}
label {{ entry.label }}
  menu label ^{{ entry.name }}
  kernel /casper/vmlinuz
  append {% if entry.preseed is defined %} file=/cdrom/preseed/{{ entry.preseed }}.seed{% endif %} boot=casper{% if entry.cmdline is defined %} {{ entry.cmdline }}{% endif %}{% if entry.pkgconf is defined %} {{ entry.pkgconf }}{% endif %} {{ lookup('file', buildiso_readonly + '/isolinux/txt.cfg') | regex_search("initrd=\/[a-z0-9]*\/initrd(\.[a-z0-9]*)?", multiline=true) }} quiet splash ---
{%   endif %}
{% endfor %}
{% if buildiso_menu_memtest %}
label memtest
  menu label Test ^memory
  kernel /install/mt86plus
{% endif %}
{% if buildiso_menu_hd %}
label hd
  menu label ^Boot from first hard disk
  localboot 0x80
{% endif %}
