default {{ (buildiso_bootmenu | first).label }}
{% for entry in buildiso_bootmenu %}
{%   if entry.label is defined and entry.name is defined %}
label {{ entry.label }}
  menu label {{ entry.name }}
{%     if entry.command is defined %}
  {{ entry.command }}
{% else %}
  kernel {{ entry.kernel | default('/casper/vmlinuz') }}
  append {{ entry.preseed | default('file=/cdrom/preseed/ubuntu.seed') }}{% if entry.cmdline is defined %} {{ entry.cmdline }}{% endif %} initrd={{ entry.initrd | default('/casper/initrd') }} quiet splash {% if 'nomodeset' in entry.label %} nomodeset {% endif %}{% if entry.pkgconf is defined %} {{ entry.pkgconf }}{% endif %} ---
{%     endif %}
{%   endif %}
{% endfor %}
{% if buildiso_bootmenu_memtest | default(True) %}
label memtest
  menu label Test ^memory
  kernel /install/mt86plus
{% endif %}
{% if buildiso_bootmenu_harddisk | default(True) %}
label hd
  menu label ^Boot from first hard disk
  localboot 0x80
{% endif %}
